# Entorno y secretos
.env
.venv/
*.env
*.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/

# Archivos locales y temporales
.last_call_ts
.DS_Store
.idea/
.vscode/

# Build / dist
build/
dist/
*.egg-info/
